<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="dl-logo.png">
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <title>.docx Librarian</title>
    <base target="_blank">
  </head>
  <body>
        <!-- Minimum Screen Size notice -->
        <div class="screen-size-notice">
          <p>
            Thank you for your interest in .docx Librarian. 
          </p>
          <p>This web application is designed for screen sizes that are at least 1024px wide. Small-screen responsiveness is in the works for future versions.</p>
        </div>
    
    <section id="start-1">
      <div class="fullscreen-container">
        <div class="centered-container" draggable="true">
          <div class="inner-content">
            <h1>
              .docx Librarian <small>v1.0.0</small>
            </h1>
            <div>
              <div style="padding-top: 10px"></div>
              <form id="file-select-form" action="/" method="POST" enctype="multipart/form-data" target="_self">
                <label for="file-upload" class="custom-file-upload">
                  Choose File
                  <input name="docxUpload" id="file-upload" type="file" />
                </label>
                <input type="hidden" name="viewSettings2" value="true" />
              </form>
              <% if (!validFile) { %>
                <section id="invalid-file-notice"><em>Please select .docx file</em></section>
              <% } %>
            </div>
            <nav>
              <p>
                <a id="docs-link" href="/docs" target="_self"><span class="menu-text">Docs</span></a>
              </p>
              <p>
                <a href="https://github.com/mwroberts3/docx-librarian-node"><span class="menu-text">GitHub</span></a>
              </p>
            </nav>
          </div>
        </div>
      </div>
    </section>

    <section id="settings-2">
      <div class="centered-container">
        <div class="file-name"><%= fileName %></div>
        <div class="inner-content">
          <h2>Template Select</h2>
          <div>
            <button class="use-template">Doc Uses D.L. Template</button>
            <button class="no-template">No Template / Raw Search</button>
          </div>
          <nav>
            <p>
              <a href="/" target="_self"><span class="menu-text" >Restart</span></a>
            </p>
          </nav>
        </div>
      </div>
    </section>

    <section id="dl-category-select-3a">
      <div class="centered-container">
        <div class="inner-content">
          <div>
            <div class="file-name displayed"><%= fileName %></div>
            <div><a href="/" target="_self"><span class="menu-text">Restart</span></a></div>
          </div>
         <h2>Select Categories to Include:</h2>
         <div class="category-list"></div>
         <button id="next-button">Next</button>
        </div>
      </div>
    </section>

    <section id="retreived-entries">
      <div class="options-and-display">
        <div>
          <button id="select-different-categories-btn">Change Categories</button>
          <div class="save-as-new-file-container">
            <form action="/download" method="POST">
              <input 
              id="save-as-new-file-input" 
              name="newFilenameInput" type="text" placeholder="Enter File Name">
              <input id="download-form-button" type="hidden" name="dlAsDocx" value="">
              <button id="save-as-new-docx-file">Save As .docx File</button>
            </form>
          </div>
        </div>
        <div>
          <div class="file-name displayed"><%= fileName %></div>
          <div><a href="/" target="_self"><span class="menu-text">Restart</span></a></div>
        </div>
      </div>
      <div class="collected-entries-container">

      </div>
    </section>

    <section id="raw-search-3b">
      <div class="centered-container">
        <div class="file-name"><%= fileName %></div>
        <div class="inner-content">
          <h2>Enter search term</h2>
          <input id="initial-search-term" type="text" />
          <button id="initial-search-button">Submit</button>
          <div class="case-sensitive-container">
            <input id="case-sensitive" type="checkbox">&nbsp;<small>Case Sensitive</small></button>

          </div>
          <nav>
            <p>
              <a href="/" target="_self"><span class="menu-text">Restart</span></a>
            </p>
          </nav>
        </div>
      </div>
    </section>

    <section id="document-display">
      <div class="options-and-display">
          <input id="new-search" type="text" placeholder="new search" />
          <button class="new-search-btn"><i class="fas fa-search"></i></button>
          <div class="search-stats-container">
            <div class="searched-word"></div>
            <div class="search-stats"></div>
          </div>
          <div>
            <div class="file-name displayed"><%= fileName %></div>
            <div><a href="/" target="_self"><span class="menu-text">Restart</span></a></div>
          </div>
      </div>
      <div class="document-content">&nbsp;</div>
    </section>

    <section id="dl-docs" <% if (viewDocs) { %> style="display:block" <% } %>>
      <div class="documentation-container">
        <div style="text-align: right; margin-right: 20px"><a href="/" target="_self"><span class="menu-text">Back</span></a></div>
        
        <h1 style="margin-bottom: 0px;">.docx Librarian <small>v1.0.0</small></h1>
        <p id="docs-last-updated">
          <small>Last Updated: 2/15/2021</small>
        </p>

        <!-- Basic Purpose -->
        <div class="documentation-section">
          <h2>Basic Purpose & Usage</h2>
          <p>
            The basic purpose of .docx Librarian is to help organize and parse large documents with disparate or tangentially related notes and ideas. Specifically, it allows users to gather all initial research in a central document, which can then be parsed into smaller documents during any later stage of project development. The formatting capabilities are limited as of version 1.0.0, so it works best for text-based research and might not be the best choice for notes on programming or any field that requires a more than basic stylistic appearance.
          </p>
        </div>

        <!-- Using with template -->
        <div class="documentation-section">
          <h2>Formatting and using with template</h2>
          <p>
            To use .docx Librarian effectively, use the following template when adding new entries to a docx file.
          </p>
          <br>
          <p>
            To do that is simple, just start every new entry in the docx
            file with:
          </p>
          <p>
            <li><strong>LABEL:</strong></li>
            <li><strong>DATE:</strong></li>
            <li><strong>TITLE:</strong></li>
            <li><strong>CONTENT:</strong></li>
          </p>
          <br>
          <p>
            This will allow the application to accurately search, pull and separate sections
            of the document based on their content.
          </p>
          <br>
          <p>
            If the label, or any of the subsequent headers are improperly formatted the results may be incorrect or incomplete.
          </p>
          <div class="inner-documentation-section">
            <h3>Saving As New docx file</h3>
            <p>
              Selected categories can be saved as their own new docx document, which can subsequently be search and trimmed. 
            </p>
            <p>
              The order and inclusion of sections can be determined by the user before downloading the edited file.
            </p>
          </div>
          <div class="inner-documentation-section">
            <h3>Download Test Document</h3>
            <p>
              Download the sample docx file below to test the application and see exactly how documents should be set up before uploading.
            </p>
            <p>
              <em>
                <a href="Fall of Rome - demo document.docx" download>
                Fall of Rome - demo document
                </a> (based on Wikipedia article)
              </em>
            </p>
          </div>
          <hr>
        </div>

        <!-- Using without template -->
        <div class="documentation-section">
          <h2>Using without template</h2>
          <p>
            .docx Librarian can also be used on unformatted docx documents as a
            simple search tool. The search functionality is very bare-bones as of version 1.0.0, but will be built up in subsequent versions.
          </p>
        </div>
      </div>
    </section>
    <section id="docx-as-html-view" style="display: none">
      <%- docxAsHtml %>
    </section>
    <% if (viewSettings2) { %>
    <script>
      document.getElementById('settings-2').classList.add('show')
    </script>
    <% } %>
    <script src="index.js"></script>
  </body>
</html>
