<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <title>.docx Librarian</title>
  </head>
  <body>
        <!-- Minimum Screen Size notice -->
        <div class="screen-size-notice">
          <p>
            Thank you for your interest in .docx Librarian. 
          </p>
          <p>This web application is designed for screen sizes that are at least 1024px wide. A patch for small-screen responsiveness is in the works.</p>
        </div>
    
    <section id="start-1">
      <div class="fullscreen-container">
        <div class="centered-container" draggable="true">
          <div class="inner-content">
            <h1>
              .docx Librarian <small>v1.0.0</small>
            </h1>
            <div>
              <div style="padding-top: 10px"></div>
              <form id="file-select-form" action="/" method="POST" enctype="multipart/form-data">
                <label for="file-upload" class="custom-file-upload">
                  Choose File
                  <input name="docxUpload" id="file-upload" type="file" />
                </label>
                <input type="hidden" name="viewSettings2" value="true" />
              </form>
              <% if (!validFile) { %>
                <section id="invalid-file-notice"><em>Please select .docx file</em></section>
              <% } %>
            </div>
            <nav>
              <p>
                <a id="docs-link" href="#"><span class="menu-text">Docs</span></a>
              </p>
              <p>
                <a href="https://github.com/mwroberts3/docx-librarian-node" target="_blank"><span class="menu-text">GitHub</span></a>
              </p>
            </nav>
          </div>
        </div>
      </div>
    </section>

    <section id="settings-2">
      <div class="centered-container">
        <div class="file-name"><%= fileName %></div>
        <div class="inner-content">
          <h2>Template Select</h2>
          <div>
            <button class="use-template">Doc Uses D.L. Template</button>
            <button class="no-template">No Template / Raw Search</button>
          </div>
          <nav>
            <p>
              <a href="/"><span class="menu-text">Restart</span></a>
            </p>
          </nav>
        </div>
      </div>
    </section>

    <section id="dl-category-select-3a">
      <div class="centered-container">
        <div class="inner-content">
          <div>
            <div class="file-name displayed"><%= fileName %></div>
            <div><a href="/"><span class="menu-text">Restart</span></a></div>
          </div>
         <h2>Select Categories to Include:</h2>
         <div class="category-list"></div>
         <button id="next-button">Next</button>
        </div>
      </div>
    </section>

    <section id="retreived-entries">
      <div class="options-and-display">
        <div>
          <button id="select-different-categories-btn">Select Different Categories</button>
          <div class="save-as-new-file-container">
            <form action="/download" method="POST">
              <input 
              id="save-as-new-file-input" 
              name="newFilenameInput" type="text" placeholder="Enter File Name">
              <input id="download-form-button" type="hidden" name="dlAsDocx" value="">
              <button id="save-as-new-docx-file">Save As .docx File</button>
            </form>
          </div>
        </div>
        <div>
          <div class="file-name displayed"><%= fileName %></div>
          <div><a href="/"><span class="menu-text">Restart</span></a></div>
        </div>
      </div>
      <div class="collected-entries-container">

      </div>
    </section>

    <section id="raw-search-3b">
      <div class="centered-container">
        <div class="file-name"><%= fileName %></div>
        <div class="inner-content">
          <h2>Enter search term</h2>
          <input id="initial-search-term" type="text" />
          <button id="initial-search-button">Submit</button>
          <div class="case-sensitive-container">
            <input id="case-sensitive" type="checkbox">&nbsp;<small>Case Sensitive</small></button>

          </div>
          <nav>
            <p>
              <a href="/"><span class="menu-text">Restart</span></a>
            </p>
          </nav>
        </div>
      </div>
    </section>

    <section id="document-display">
      <div class="options-and-display">
          <input id="new-search" type="text" placeholder="new search" />
          <button class="new-search-btn"><i class="fas fa-search"></i></button>
          <div class="search-stats-container">
            <div class="searched-word"></div>
            <div class="search-stats"></div>
          </div>
          <div>
            <div class="file-name displayed"><%= fileName %></div>
            <div><a href="/"><span class="menu-text">Restart</span></a></div>
          </div>
      </div>
      <div class="document-content">&nbsp;</div>
    </section>

    <section id="dl-docs">
      <div class="documentation-container">
        <div style="text-align: right; margin-right: 20px"><a href="/"><span class="menu-text">Home</span></a></div>
        
        <h1>.docx Librarian <small>v1.0.0</small></h1>

        <!-- Using with template -->
        <div class="documentation-section">
          <h2>Formatting and using with template</h2>
          <p>
            To get the most out of .docx Librarian, you'll want to load a
            .docx file that uses the standard template.
          </p>
          <br>
          <p>
            To do that is simple, just start every new entry in the .docx
            file with:
          </p>
          <p>
            <li><strong>LABEL:</strong></li>
            <li><strong>DATE:</strong></li>
            <li><strong>TITLE:</strong></li>
            <li><strong>CONTENT:</strong></li>
          </p>
          <br>
          <p>
            This will allow the application to accurately search, pull and separate sections
            of the document based on their content.
          </p>
          <br>
          <p>
            <em>
              In order for the document w/ template to be processed correctly, make sure that </em><strong>LABEL:</strong><em> is bolded with exactly one space between the colon and the first letter of the label.
            </em> If the label, and any of the subsequent headers are improperly formatted the results will be incorrect and/or incomplete.
          </p>
          <div class="inner-documentation-section">
            <h3>Saving As New docx file</h3>
            <p>
              Thanks to the docx.js library, selected categories can be saved as their own new docx file which can subsequently be search and trimmed. 
            </p>
            <p>
              The order in which the categories are listed will determine the order they appear on the saved document.
            </p>
          </div>
          <div class="inner-documentation-section">
            <h3>Download Test Document</h3>
            <p>
              If you'd like to experience the document with template features, try downloading the sample document below.
            </p>
            <p>
              <em>
                <a href="Fall of Rome - Document Librarian Demo.docx" download>
                Fall of Rome - demo document
                </a>
              </em>
            </p>
          </div>
          <hr>
        </div>

        <!-- Using without template -->
        <div class="documentation-section">
          <h2>Using without template</h2>
          <p>
            .docx Librarian can also be used on an unformatted .docx file as a
            simple search tool. The search functionality is bare-bones as of version 1.0.0, but will be built up in subsequent patches.
          </p>
        </div>
      </div>
    </section>
    <section id="docx-as-html-view" style="display: none">
      <%- docxAsHtml %>
    </section>
    <% if (viewSettings2) { %>
    <script>
      document.getElementById('settings-2').classList.add('show')
    </script>
    <% } %>
    <script src="index.js"></script>
  </body>
</html>
